@import 'variables';

.about-us {
  text-align: center;
  font-size: $font-size-paragraph;
  color: $text-color-primary;

  .about-us-header {
    background-image: url($bg-image-hero);
    background-size: cover;
    background-position: $bg-position-center;
    color: $text-color-light;
    padding: $padding-default;
    margin-bottom: 2rem;
    text-shadow: $about-header-text-shadow;
    h1 {
      font-size: $font-size-heading;
      margin: 0;
      padding: $padding-default;
      background-color: $about-header-h1-background-color;
    }
    p {
      font-size: $font-size-paragraph;
    }
  }

  .mission-statement,
  .community-involvement,
  .leadership-team {
    margin-bottom: 2rem;
  }

  /* Leadership Team Styles */
  .leadership-team {
    .leadership-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5rem;
      .leader-profile {
        text-align: center;
        margin: 1rem;
        flex: 1;
        max-width: calc(50% - 2rem);
        img {
          border-radius: 50%;
          width: $image-size;
          height: $image-size;
          object-fit: cover;
        }
        h3 {
          margin-top: 1rem;
          font-size: $font-size-subheading;
        }
      }
    }
  }
}

/* Additional Styles */
// .about-space {
//   padding: 5rem;
// }

.brief-desc {
  padding: 0 20rem;
}

.columns {
  display: flex;
}

.column {
  padding: 0 15rem;
}