@import "./_variables";

.header {
  background-color: $header-background-color;
  box-shadow: $header-box-shadow;
  padding: 0.5rem 1rem;
  border-bottom: 20px solid darken($header-background-color, 10%);

  .navbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    font-family: $header-font-family;

    .navList {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;

      .navItem {
        margin: 0 1rem;
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          color: $text-color-dark;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
