@import 'variables';

.hero, .worship, .junglehike, .bible, .community, .baptism {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: $padding-default;
  height: 20rem;
}

.donations {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: $padding-default;
  height: 60rem;
}

.hero {
  // background-image: url($bg-image-hero);
  background-image: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 1) 0%, 
    rgba(255, 255, 255, 0) 20%
  ),
  url($bg-image-hero);
  background-position: $bg-position-center;
  h2 {
    color: $text-color-light;
    font-size: $font-size-heading;
  }
  p {
    color: $text-color-dark;
    font-size: $font-size-paragraph;
  }
}

.worship, .junglehike, .bible, .community, .baptism, .donations {
  margin: 5rem 0;
  h2, p {
    color: $text-color-light;
  }
}

.worship {
  background-image: url($bg-image-worship);
  background-position: $bg-position-worship;
}

.junglehike {
  background-image: url($bg-image-junglehike);
  background-position: $bg-position-junglehike;
}

.bible {
  background-image: url($bg-image-bible);
  background-position: $bg-position-bible;
}

.community {
  background-image: url($bg-image-community);
  background-position: $bg-position-worship;
}

.baptism {
  background-image: url($bg-image-baptism);
  background-position: $bg-position-worship;
}

// eventually separate to donations doc
.donations {
  background-image: url($bg-image-donations);
  background-position: $bg-position-worship;
}


.about, .events, .sermons {
  padding: $padding-sections;
  text-align: center;
  font-size: $font-size-paragraph;
  color: $text-color-primary;
  h2 {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
}

.sermon-videos, .events {
  margin-bottom: 5rem;
}

.sermon-videos {
  display: flex;
  justify-content: space-evenly;
}
