@import "variables";
@import "mixins";

.worship,
.junglehike,
.bible,
.community,
.baptism {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: $padding-default;
  height: 20rem;
}

.donations {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: $padding-default;
  height: 60rem;
}

.worship,
.junglehike,
.bible,
.community,
.baptism,
.donations {
  margin: 5rem 0;
  h2,
  p {
    color: $text-color-light;
  }

  @include phone {
    margin: 1rem 0;
  }
}

.worship {
  background-image: url($bg-image-worship);
  background-position: $bg-position-worship;
}

.junglehike {
  background-image: url($bg-image-junglehike);
  background-position: $bg-position-junglehike;
}

.bible {
  background-image: url($bg-image-bible);
  background-position: $bg-position-bible;
}

.community {
  background-image: url($bg-image-community);
  background-position: $bg-position-worship;
}

.baptism {
  background-image: url($bg-image-baptism);
  background-position: $bg-position-worship;
}

// eventually separate to donations doc
.donations {
  background-image: url($bg-image-donations);
  background-position: $bg-position-worship;
}

.about,
.events,
.sermons {
  // padding: 4rem 4rem 0 4rem;
  padding: 4rem;
  text-align: center;
  font-size: $font-size-paragraph;
  color: $text-color-primary;
  h2 {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }

  @include phone {
    h2 {
      font-size: 2rem;
    }
    padding: 2rem;
  }
}

.sermon-videos,
.events {
  margin-bottom: 5rem;
}

.sermon-videos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8rem;

  @include tablet {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
}

.sermon-videos iframe {
  width: 25vw;
  height: 25vh;
  margin: 1rem;

  @include tablet {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }

  @include phone {
    width: 85vw;
  }
}

.events iframe {
  border: solid 1px #777;
  width: 80vw;
  height: 900px;
  max-width: 90vw;

  @media (max-width: 600px) {
    height: 300px;
  }
}
