@import 'variables';


@mixin common-styles {
  padding: $padding-sections;
  text-align: center;
  font-size: $font-size-paragraph;
  color: $text-color-primary;

  h1 {
    color: $text-color-primary;
    font-size: $font-size-subheading;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $breakpoint-phone) {
    @content;
  }
}

