// Header Colors and Styles
$header-background-color: #fff;
$header-text-color: #333;
$header-hover-color: #007bff;
$header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// Footer Colors and Styles
$footer-background-color: #f8f9fa;
$footer-text-color: #333;
$footer-link-color: #007bff;
$footer-link-hover-color: #0056b3;

// Global Styles
$link-color: $header-text-color;
$link-hover-color: $header-hover-color;
$text-color: $footer-text-color;

$bg-image-hero: '/lisa.jpg';
$bg-image-worship: '/pablo.jpg';
$bg-image-bible: '/bible.jpg';
$bg-image-community: '/community.jpg';
$bg-image-baptism: '/baptism.jpg';

$bg-position-center: 50% 40%;
$bg-position-worship: 50% 35%;
$bg-position-bible: 50% 65%;

$padding-default: 50px 20px;
$padding-sections: 4rem;

$text-color-light: white;
$text-color-dark: rgb(91, 87, 81);
$text-color-primary: rgb(132, 174, 224);

$font-size-heading: 8rem;
$font-size-subheading: 4rem;
$font-size-paragraph: 1.5rem;
