@import 'variables';
@import 'mixins';

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: $padding-default;
  height: 20rem;
  background-image: url($bg-image-hero);
  background-position: $bg-position-center;
  margin: 0;

  @include phone {
    height: 12rem
  }

  h1 {
    color: $text-color-light;
    font-size: $font-size-heading;
    margin: 0;

    @include tablet {
      font-size: 5.2rem;
    }

    @include phone {
      font-size: 4rem;
    }
  }

  p {
    color: $text-color-dark;
    font-size: $font-size-paragraph;

    @include tablet {
      font-size: 1.2rem;
    }

    @include phone {
      font-size: 1rem;
    }
  }
}
